:root {
  --color-primary: #363636;

  --color-white: #ffffff;
  --color-gray-light: #eeeeee;
  --color-gray: #cccccc;
  --color-gray-dark: #777777;
  --color-black: #000000;
  --color-gray-darker: #464646;
  --color-gray-darkest: #444444;
  --color-success: #01bd78;

  --color-error: #d40019;
}
